@font-face {
    font-family: CapitalisTypOasis;
    src: url(../fonts/CapitalisTypOasis.ttf);
}

/* burger break-point */
@media (max-width: 1278px) {
	.header-menu {
		display: none;
	}
	.header-bar {
		text-align: center;
		justify-content: center;
	}
	.menu-items {
		width: 100%;
		text-align: center;
	}
	.logo {
		background: url("../logo/tmc-logo-icon.svg");
		width: auto;
		padding: 10px;
		margin: 10px;
	}
	.logo::after {
		content: 'The Manchester Clinic';
		margin-left: 40px;
	}
}

@media (min-width: 1278px) {
	.menu {
		display: none;
	}
	.logo {
		background: url("../logo/tmc-logo-icon.svg");
		padding: 0;
		margin: 10px;
		font-family: CapitalisTypOasis;
		font-size: 20px;
		font-weight: 100;
	}
	.logo::before {
		margin-left: 65px;
		content: 'The';
		display: flex;
	}
	.logo::after {
		margin-left: 65px;
		content: 'Manchester Clinic';
		display: flex;
	}
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 14pt;
	margin: 0px;
	color: #444444;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	text-align: justify;
}
table {
	font-size: 14pt;
}
a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}
a.subtle-link {
	font-weight: normal;
}
p {
	line-height: 1.3;
	margin: 12px 0px;
}
.p-heading {
	font-weight:bold;
	color: #0b2a50;
}

.header-bar-container{
	text-align: center;
	min-height:59px;
	flex-shrink: 0;
	border-bottom: 2px solid #333;
}
.header-bar {
	display: flex;
	align-items: center;
	margin: auto;
	max-width: 70%;
	padding: 5px 0 5px;
}
@media (max-width: 1278px) {
	.header-bar {
		max-width: 100%;
	}
}
.header-logo {
	width: 330px;
	margin: 7px;
}
.header-menu {
	margin-left: auto;
	letter-spacing: 0.9px;
	font-variant: small-caps;
}
.header-menu-item.current a, .header-menu-item:hover a {
	display: inline-block;
	color: #a1917c;
}
.header-menu-item a {
	display: inline-block;
	margin-top: 13px;
	font-weight: normal;
	padding: 0px 10px;
}
.horizontal-rule {
	width: auto;
	border-style: solid;
	border-color: #a1917c;
	border-width: 2px;
}
.menu {
	margin-bottom: 10px;
	color: #a1917c;
	position: relative;
}
.menu-items{
	position: absolute;
	z-index: 9999;
	top: 0;
	background: white;
	display: none;
}
.menu-items table {
	text-align: center;
	font-weight: 100;
	font-variant: small-caps;
}
.menu-items td{
	border-bottom: 1px solid #a1917c;
	padding: 10px;
}
.close-menu {
	position: absolute;
	font-size: 21pt;
    left: 95%;
	cursor: pointer;
}
.fa-bars {
	cursor: pointer;
}

.content-container {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
}
.content {
	margin: 20px auto;
	background-color: #ffffff;
	max-width: 75%;
	padding-bottom: 40px;
	width: 100%;
}
@media (max-width: 992px) {
	.content {
		max-width: 97%;
	}
}

.page-title {
	font-family: 'Merriweather', serif;
	margin: 20px auto;
	max-width: 800px;
	text-align: center;
	font-size: 180%;
	font-weight: 100;
	color: #a1917c;
}

.clear-float {
	clear: both;
}

.footer-container {}

.footer {
	padding: 4px 0px;
	max-width: 900px;
	margin: auto;
	text-align: center;
	font-size: 70%;
}
.logo {
	background-repeat: no-repeat;
	background-size: contain;
	margin: 10px;
	font-family: CapitalisTypOasis;
	font-size: 20px;
	font-weight: 100;
}


.fade-in {
	opacity: 0;
    transition: opacity 0.4s;
}
.gray {
	filter: grayscale(100%);
	opacity: 0.6;
	transition: all 0.5s;
}
.gray:hover{
	filter: grayscale(0%);
	opacity: 1;
}
.img-shadow{
	box-shadow: 0 80px 40px -40px rgba(0, 0, 0, 1);
	transition: box-shadow 0.3s
}
.img-slide{
	position: relative;
	top: 0;
	transition: top 0.5s
}

.gold-box{
	padding: 20px;
	background: #a1917c;
	border-radius: 10px;
}
.gold-box .headline{
	color: #333;
}
.gold-box p{
	color: #f0f0f0
}
.blue-box {
	padding: 30px 0; 
	background-color: #000519;
	width: 100%;
	color: #a1917c;
	text-align: center;
}
.blue-box .headline {
	padding: 10px;
	font-family: 'Lato', sans-serif;
	font-size: 25pt;
}
.blue-box .message{
	font-size: 20pt;
	margin-bottom: 20px;
}

.headline {
	font-size: 140%;
	color: #a1917c;
	font-family: 'Merriweather', serif;
	line-height: 40px;
	text-align: left;
}
.text-center{
	text-align: center;
}