body {
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	margin: 0px;
	color: #444444;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}
a {
	text-decoration: none;
	color: #0b2a50;
	font-weight: bold;
}
a.subtle-link {
	font-weight: normal;
}
p {
	line-height: 1.3;
	margin: 12px 0px;
}
.p-heading {
	font-weight:bold;
	color: #0b2a50;
}

.header-bar-container{
	min-height:59px;
	flex-shrink: 0;
}
.header-bar {
	margin: auto;
	max-width: 900px;
}
.header-logo {
	width: 330px;
	margin: 7px;
	max-width: 100%;
}
.header-menu {
	float: right;
	margin-right: 7px;
	height: auto;
}
.header-menu-item.current, .header-menu-item:hover {
	display: inline-block;
	border-top: solid 4px #0b2a50;
}
.header-menu-item a {
	display: inline-block;
	margin-top: 13px;
	font-weight: normal;
	padding: 0px 10px;
}
.header-menu-item.current a {
	font-weight: bold;
}
.horizontal-rule {
	width: auto;
	border-style: solid;
	border-color: #0b2a50;
	border-width: 2px;
}

.content-container {
	background-color: #E6E9ED;
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
}
.content {
	margin: auto;
	max-width: 900px;
	background-color: #ffffff;
	padding-bottom: 40px;
	flex: 1 0 auto;
	width: 100%;
}
.page-title {
	margin: 20px auto;
	max-width: 800px;
	text-align: center;
	font-size: 180%;
	font-weight: 600;
	color: #0b2a50;
}

.clear-float {
	clear: both;
}

.footer-container {
	background-color: #E6E9ED;
	bottom: 0px;
	flex-shrink: 0;
}
.footer {
	padding: 4px 0px;
	max-width: 900px;
	background-color: #CED4DC;
	margin: auto;
	text-align: center;
	font-size: 70%;
}

@media screen and (max-width: 768px) {
	.header-menu-item.current, .header-menu-item:hover {
		border: none;
	}
}