iframe.map-frame {
	width: 100%;
	height: 350px;
}
.tmc-details-container {
	margin: 20px 0px 0px 0px;
}
.contact-details-container {
	width: 30%;
	float: left;
}
.contact-details-block {
	text-align: center;
	margin: 10px;
}
.transport-container{
	width: 70%;
	float: left;
}
.transport-block{
	margin: 10px 0px;
	padding: 0px 30px;
	border-left: 1px solid #a1917c;
}
.sub-heading {
	font-weight:bold;
	color: #a1917c;
	font-size: 110%;
}

@media screen and (max-width: 768px) {
	iframe.map-frame {
		height: 200px;
	}
	.contact-details-container {
		width: 100%;
	}
	.transport-container {
		width: 100%;
	}
	.transport-block {
		text-align: center;
		border: none;
	}
}