.content{
	margin: 20px auto;
}
.intro-text {
	padding: 0px 20px;
	text-align: center;
}
.outro-text {
	padding: 20px;
	text-align: center;
}

.side-image-container {
	width: 30%;
	float: left;
}
.side-image-inner-container {
	margin: 20px 0px 20px 20px;
	overflow: hidden;
}
.side-image {
	height: 650px;
}

.main-content-container {
	width: 70%;
	float: left;
}
.main-content {
	padding: 20px;
}

.facilities-list {
	display: grid;
	grid-template-columns: auto auto auto;
	align-content: center;
}
.facilities-list .title {
	padding: 10px 0;
	font-weight: 900;
	text-align: center;
	color: #000;
}
.facilities-list img{
	border-radius: 8px;
	margin: auto;
	height: 330px;
	width: 260px;
}
.facilities-list .item:hover{
	cursor: pointer;
}
.facilities-list .item {
	display: grid;
}
.facilities-info {
	color: rgb(182, 182, 182);
	margin: 20px 80px;
	padding: 20px 50px;
	background: #000519;
	border-radius: 10px;
	text-align: center;

}
.facilities-info .title {
	font-size: 26px;
	font-weight: 900;
}
.facilities-info .text {
	margin: 10px 0;
}