.intro-text {
	padding: 0px 20px;
	text-align: center;
}
.outro-text {
	padding: 0px 20px;
	text-align: center;
}

.side-image-container {
	width: 30%;
	float: left;
}
.side-image-inner-container {
	margin: 20px 0px 20px 20px;
	overflow: hidden;
}
.side-image {
	height: 650px;
}

.main-content-container {
	width: 70%;
	float: left;
}
.main-content {
	padding: 20px;
}

.facilities-list li {
	margin-top: 3px;
}

@media screen and (max-width: 768px) {
	.side-image-container {
		display: none;
	}
	.main-content-container {
		width: 100%;
	}
}

.facilities-box {
	margin: auto;
	display: table;
	transition: all 0.5s;
}
.facilities-item {
	display: inline-block;
	padding: 10px 15px;
	transition: all 0.5s;
}
.facilities-item img{
	border-radius: 10px;
	transition: all 0.5s;
}
.facilities-text {
	border-radius: 10px;
	position: absolute;
	background: linear-gradient(rgba(0,0,0,0.9) , rgba(0,5,25,0.7));
	transition: all 0.5s;
}
.facilities-text P{
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1px;
	position: absolute;
	bottom: 0;
	padding: 20px;
	color: #fff;
	transition: all 0.5s;
}
.facilities-extra-text {
	display: none;
	border-radius: 10px;
	position: absolute;
	transition: all 0.5s;
}
.facilities-extra-text P{
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 20px;
	color: #fff;
	font-weight: 100;
	transition: all 0.5s;
}
.facilities-regular {
	height: 330px;
	width: 260px;
}
.facilities-large {
	height: 345px;
	width: 275px;
}
.facilities-text-top{
	top: 0;
	transition: all 0.5s;
}
.facilities-visible {
	display: block;
}
