.banner-image-container {
  height: calc(32vw);
  position:relative;
  overflow: hidden;
}
.banner-image {
  top:calc(-5vw);
  width:100%;
  position:absolute;
}

.video-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: "a b";
  margin: auto;

  position: relative;
  height: 100%;
}
@media (max-width: 870px) {
  .video-container {
    grid-template-areas: ". b ." ". a .";
    grid-template-columns: auto 500px auto;
  }
}

.video-quote {
  grid-area: a;
  padding: 60px 100px;
  quotes: "\201C""\201D";
  font-style: italic;
  font-size: 1.9vw;
  color: #a1917c;
}
@media(max-width: 1000px) {
  .video-quote {
    padding: 6vw 10vw;
  }
}

.video-quote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.video-video {
  top: calc(-5vw);
  position: absolute;
  height: 100%;
  width: 100%;
  grid-area: b;
}
@media(max-width: 870px) {
  .video-video {
    position: auto;
  }
}

.banner-content-container {
  background: #000829;
  height: calc(300px - 5vw);
}
@media(max-width: 1000px) {
  .banner-content-container {
    height: 25vw;
  }
}

@media (min-width: 871px) {
  .content-grid {
    grid-template-rows: auto;
    grid-template-areas: "a b";
  }
  .content-grid.text-left {
    grid-template-columns: 70% 30%;
  }
  .content-grid.text-right {
    grid-template-columns: 30% 70%;
  }
  .text-carousel {
    top: 50px;
  }
}

@media (max-width: 870px) {
  .content-grid {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
  .content-grid.text-left {
    grid-template-areas: "a" "b";
  }
  .content-grid.text-right {
    grid-template-areas: "b" "a";
  }
  .content {
    max-width: 97%;
  }
}

.content {
  padding-bottom: 0;
}

.content-grid {
  display: grid;
  height: auto;
  margin: 0 20px;
}
.content-grid .a,
.content-grid .b {
  margin: auto;
  padding: 20px;
}
.content-grid img {
  max-width: 390px;
  width: 100%;
  height: auto;
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

.d {
  grid-area: d;
}

.e {
  grid-area: e;
}

.f {
  grid-area: f;
}

.g {
  grid-area: g;
}

.h {
  grid-area: h;
}
.insurance-box {
  width: 70%;
  grid-template-areas: "a b c d" "e f g h";
  grid-template-columns: auto auto auto auto;
  margin: auto;
  display: grid;
}
.insurance-box img {
  display: inline-grid;
  min-width: 85px;
  max-width: 150px;
  width: 50%;
  padding: 5px;
  margin: 20px auto;
  border: 1px solid #dddddd;
}
.insurance-box img:hover {
  border-color: #a1917c;
}
@media (max-width: 1440px) {
  .insurance-box {
    grid-template-areas: "a b c" "d e f" "g . h";
    grid-template-columns: auto auto auto;
  }
}
@media (max-width: 1000px) {
  .insurance-box {
    grid-template-areas: "a b" "c d" "e f" "g h";
    grid-template-columns: auto auto;
  }
}

.center.headline {
  text-align: center;
}
.large-text {
  font-size: 25pt;
}
.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.message {
  margin: 0 10vw;
}
