@media (max-width: 1278px) {
	.img-container {
		display: none;
	}
	.text-container img {
		display: table-cell;
		max-width: 60%;
		margin-right: 15%;
	}
	.text-carousel {
		top: 143px;
	}
}

@media (min-width: 1278px) {
	tr .text-container{
		padding: 30px 0 0 0;
	}
	.text-container img {
		display: none;
	}
	.img-container {
		display: table-cell;
	}
	.text-carousel {
		top: 110px;
	}
}

.content{
	padding-bottom: 0;
}
.image-carousel {
	opacity:0;
    transition: opacity 2s;
	position: relative;
	height: 400px;
	width: 100%;
	overflow: hidden;
}
@media (max-width: 992px) {
	.image-carousel {
		height: 50%;
	}
}
.image-slide {
	width: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
}
.text-carousel{
	position: absolute;
    left: 10%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9);
    width: 40%;
	height: 300px;
}
.main-content-container {
	padding: 20px
}
.carousel-container {
	padding: 40px;
}
.carousel-container .headline {
	text-align: center;
	width: 50%;
	border-right: 1px solid rgba(255, 255, 255, 0.5); 
	display: flex;
	align-items: center;
	float: left;
}
.typewriter {
	font-size: 140%;
	color: #a1917c;
	font-family: 'Merriweather', serif;
	line-height: 40px;
	width: 45%;
	float: right;
}
.headline {
	font-size: 140%;
	color: #a1917c;
	font-family: 'Merriweather', serif;
	line-height: 40px;
}

tr .text-container{
	padding: 30px;
	width: 70%;
	text-align: justify;
}
.img-container {
	width: 30%;
}
.img-border{
	padding: 5px;
	border: 1px solid #dddddd;
}
.img-border:hover{
	border: 1px solid #a1917c;
}
tr img{
	width: 100%;
	float: right;
	height: auto;
}
.img-circle{
	border-radius: 50%;
}

.grey-box {
	padding: 30px 0; 
	background-color: #000519;
	width: 100%;
	color: #a1917c;
	text-align: center;
}
.grey-box .headline {
	font-family: 'Lato', sans-serif;
	font-size: 25pt;
}
.grey-box .message{
	font-size: 20pt;
	margin-bottom: 20px;
}

.insurance-box img{
	max-width: 150px;
	width: 20%;
	padding: 5px;
	margin: 20px 50px;
	border: 1px solid #dddddd;
}
.insurance-box img:hover {
	border-color: #a1917c;
}

.center.headline {
    display: grid;
    text-align: center;
}
.large-text {
	font-size: 25pt;
}
.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

blockquote {
background: #f9f9f9;
border-left: 10px solid #ccc;
margin: 1.5em 10px;
padding: 0.5em 10px;
quotes: "\201C""\201D";
}
blockquote:before {
color: #ccc;
content: open-quote;
font-size: 4em;
line-height: 0.1em;
margin-right: 0.25em;
vertical-align: -0.4em;
}
/* blockquote:after {
color: #ccc;
content: close-quote;
font-size: 4em;
line-height: 0.1em;
margin-left: 0.25em;
vertical-align: -0.4em;
} */
blockquote p {
display: inline;
}

.gold-box{
	padding: 20px;
	background: #a1917c;
	border-radius: 10px;
}
.gold-box .headline{
	color: #333;
}
.gold-box p{
	color: #f0f0f0
}
