@media (max-width: 768px) {
  #clinic-entrance,
  #consulting-room,
  #reception {
    left: calc(50% + -548px);
  }
  #stained-glass {
    left: calc(50% + -462px);
  }
}
@media (min-width: 768px) {
  #clinic-entrance {
    top: -18%;
  }
  #stained-glass {
    width: 120%;
    top: calc(1vh - 12vw);
    transform: scaleX(-1);
  }
  #reception {
    top: calc(1vh - 28vw);
    width: 120%;
  }
  #consulting-room {
    top: calc(1vh - 27vw);
  }
}

@media (max-width: 768px) {
  .image-carousel {
    height: calc(100vh - 97px);
    background: black;
  }
  .image-carousel img {
    width: calc(1200px - 2vw);
  }
  .text-carousel {
    width: auto;
    bottom: 0;
  }
}
@media (min-width: 768px) {
  .image-carousel {
    height: 400px;
  }
  .text-carousel {
    height: 200px;
    top: 110px;
    left: 10%;
    width: 40%;
  }
}

@media (max-width: 1100px) {
  .carousel-container .headline {
    width: 100%;
    border: none;
  }
  .typewriter {
    display: none;
  }
}
@media (min-width: 1100px) {
  .carousel-container .headline {
    display: flex;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    width: 45%;
  }
  .typewriter {
    padding-right: 20px;
    width: 45%;
  }
  .text-carousel {
    height: 300px;
    top: 56px;
  }
}

@media (max-width: 1278px) {
  .content-grid {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
  .content-grid.text-left {
    grid-template-areas: "a" "b";
  }
  .content-grid.text-right {
    grid-template-areas: "b" "a";
  }
  .content {
    max-width: 97%;
  }
}

@media (min-width: 1278px) {
  .content-grid {
    grid-template-rows: auto;
    grid-template-areas: "a b";
  }
  .content-grid.text-left {
    grid-template-columns: 70% 30%;
  }
  .content-grid.text-right {
    grid-template-columns: 30% 70%;
  }
  .text-carousel {
    top: 50px;
  }
}

.content {
  padding-bottom: 0;
}
.image-carousel {
  display: flex;
  align-content: center;
  opacity: 0;
  transition: opacity 2s;
  position: relative;
  width: 100%;
  overflow: hidden;
}
@media (max-width: 992px) {
}
.image-slide {
  width: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
}
.text-carousel {
  position: absolute;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9);
}
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}
.carousel-container .headline {
  padding: 0 20px;
  align-items: center;
  float: left;
}
.typewriter {
  padding: 20px;
  text-align: center;
  font-size: 140%;
  color: #a1917c;
  font-family: "Merriweather", serif;
  line-height: 40px;
  float: right;
}

.content-grid {
  display: grid;
  height: auto;
  margin: 0 20px;
}
.content-grid .a,
.content-grid .b {
  margin: auto;
  padding: 20px;
}
.content-grid img {
  max-width: 390px;
  width: 100%;
  height: auto;
}

.img-container {
  width: 30%;
}
.img-circle {
  border-radius: 50%;
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

.d {
  grid-area: d;
}

.e {
  grid-area: e;
}

.f {
  grid-area: f;
}

.g {
  grid-area: g;
}

.h {
  grid-area: h;
}
.insurance-box {
  width: 70%;
  grid-template-areas: "a b c d" "e f g h";
  grid-template-columns: auto auto auto auto;
  margin: auto;
  display: grid;
}
.insurance-box img {
  display: inline-grid;
  min-width: 85px;
  max-width: 150px;
  width: 50%;
  padding: 5px;
  margin: 20px auto;
  border: 1px solid #dddddd;
}
.insurance-box img:hover {
  border-color: #a1917c;
}
@media (max-width: 1440px) {
  .insurance-box {
    grid-template-areas: "a b c" "d e f" "g . h";
    grid-template-columns: auto auto auto;
  }
}
@media (max-width: 1000px) {
  .insurance-box {
    grid-template-areas: "a b" "c d" "e f" "g h";
    grid-template-columns: auto auto;
  }
}

.center.headline {
  text-align: center;
}
.large-text {
  font-size: 25pt;
}
.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
.img-slide-container img {
  width: -webkit-fill-available;
  max-width: 330px;
}

#read-more-btn {
  width: fit-content;
  text-align: center;
  background: #a1917c;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin: 10px auto;
}
@media (max-width: 768px) {
  #read-more-btn {
    display: visible;
  }
}
@media (min-width: 768px) {
  #read-more-btn {
    display: none;
  }
}
.message {
  margin: 0 10vw;
}

.video {
  background: #000829;
  padding: 33% 0 0 0;
  position: relative;
}

.video-container .headline {
  background: #000829;
  text-align: center;
  padding: 20px;
}
