.intro-text {
	padding: 0px 20px;
	text-align: center;
}
.outro-text {
	padding: 0px 20px;
	text-align: center;
}

.side-image-container {
	width: 30%;
	float: left;
}
.side-image-inner-container {
	margin: 20px 0px 20px 20px;
	overflow: hidden;
}
.side-image {
	height: 650px;
}

.main-content-container {
	width: 70%;
	float: left;
}
.main-content {
	padding: 20px;
}

.facilities-list li {
	margin-top: 3px;
}

@media screen and (max-width: 768px) {
	.side-image-container {
		display: none;
	}
	.main-content-container {
		width: 100%;
	}
}