.intro-text {
	padding: 0px 20px;
	text-align: center;
}
.outro-text {
	padding: 0px 20px;
	text-align: center;
}

.services-section {
	display: flex;
	flex-direction: row;
}

.side-image-container {
	width: 30%;
	height: 100%;
}
.side-image-inner-container {
	margin: 20px;
	overflow: hidden;
}
.side-image {
	height: 600px;
}

.main-content-container {
	width: 70%;
}
.main-content {
	padding: 20px;
}

.facilities-list li {
	margin-top: 3px;
}

@media screen and (max-width: 768px) {
	.side-image-container {
		display: none;
	}
	.main-content-container {
		width: 100%;
	}
}